@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?524uj6');
  src:  url('../fonts/icomoon.eot?524uj6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?524uj6') format('truetype'),
    url('../fonts/icomoon.woff?524uj6') format('woff'),
    url('../fonts/icomoon.svg?524uj6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1password:before {
  content: "\e900";
  color: #0094f5;
}
.icon-abstract:before {
  content: "\e901";
}
.icon-adobelightroomclassic:before {
  content: "\e902";
  color: #add5ec;
}
.icon-adobepremiere:before {
  content: "\e903";
  color: #ea77ff;
}
.icon-angellist:before {
  content: "\e904";
}
